Django==1.6.1
MarkupSafe==0.18
SQLAlchemy==0.9.8
Scrapy==0.24.4
Sphinx==1.2.2
Twisted==14.0.2
argparse==1.2.1
boto==2.20.1
chardet==2.3.0
cssselect==0.9.1
decorator==3.4.0
docutils==0.11
html5lib==0.999
httplib2==0.8
ipython==1.2.1
lxml==3.3.3
mailtools==2.1
oauthlib==0.6.1
pexpect==3.1
psutil==1.2.1
psycopg2==2.5.4
pyOpenSSL==0.13
pyasn1==0.1.7
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
pyserial==2.6
python-apt==0.9.3.5
python-debian==0.1.21-nmu2ubuntu2
pyxdg==0.25
queuelib==1.2.2
reportlab==3.0
requests==2.2.1
scrapyd==1.0.1
sessioninstaller==0.0.0
urllib3==1.7.1
